source http://nuget.org/api/v2
redirects: on
strategy: max

nuget Fantomas
nuget FSharp.Compiler.Service
nuget FSharp.Core
nuget FSharp.Data
nuget FSharp.Management
nuget FSharp.ViewModule.Core
nuget FSharpLint.Core
nuget FsPickler
nuget FsXaml.Wpf
nuget SourceLink.SymbolStore 0.5.0

group vssdklegacy
    source http://nuget.org/api/v2
    framework >= net40
    
    nuget Microsoft.VisualStudio.Shell.Interop.8.0
    nuget Microsoft.VisualStudio.Shell.Immutable.10.0
    nuget VSSDK.ComponentModelHost.11
    nuget VSSDK.DTE
    nuget VSSDK.DTE.8
    nuget VSSDK.DTE.10
    nuget VSSDK.NavigateTo
    nuget VSSDK.VSLangProj
    
    
group vssdk
    source http://nuget.org/api/v2
    framework >= net45
    
    nuget Microsoft.VisualStudio.Editor
    nuget Microsoft.VisualStudio.Language.Intellisense
    nuget Microsoft.VisualStudio.Language.StandardClassification
    nuget Microsoft.VisualStudio.Text.UI.Wpf
    nuget Microsoft.VisualStudio.Threading
    nuget Microsoft.VisualStudio.Shell.Interop.12.0
    nuget VSSDK.Shell.12
    nuget VSSDK.IDE.Deploy.14
    
group Test
    source http://nuget.org/api/v2

    nuget Foq
    nuget FsCheck
    nuget FSharp.Compiler.Service.ProjectCracker
    nuget NUnit
    nuget NUnit.Runners

group Build
    source http://nuget.org/api/v2
    
    nuget canopy
    nuget FAKE
    nuget FSharp.Formatting
    nuget Nuget.CommandLine
    nuget Selenium.WebDriver.ChromeDriver
    github fsharp/FAKE modules/Octokit/Octokit.fsx