source http://nuget.org/api/v2

nuget FSharp.Compiler.Service 1.4.2.2
nuget Fantomas
nuget Expression.Blend.Sdk
nuget FSharp.ViewModule.Core
nuget FsXaml.Wpf
nuget SourceLink.SymbolStore 0.5.0
nuget FSharpLint.Core prerelease
nuget VSSDK.IDE.Deploy.14
nuget FSharp.Management
nuget FsPickler

group Test
source http://nuget.org/api/v2

nuget NUnit.Runners ~> 2
nuget NUnit ~> 2
nuget Foq
nuget FsCheck
nuget FSharp.Core 3.1.2.5 redirects:on
nuget FAKE

group Build
source http://nuget.org/api/v2

nuget FSharp.Formatting
nuget FAKE
nuget Nuget.CommandLine
nuget FSharp.Core 3.1.2.5 redirects:on
nuget canopy
nuget Selenium.WebDriver.ChromeDriver

github fsharp/FAKE modules/Octokit/Octokit.fsx